
$icon-arrow-down-width: 451px;
$icon-arrow-down-height: 451px;
$icon-checked-width: 10px;
$icon-checked-height: 8px;
$icon-checkhover-width: 10px;
$icon-checkhover-height: 8px;
$icon-close-width: 17px;
$icon-close-height: 17px;
$icon-ellipse-1-width: 33px;
$icon-ellipse-1-height: 33px;
$icon-ellipse-2-width: 33px;
$icon-ellipse-2-height: 33px;
$icon-search-width: 17px;
$icon-search-height: 17px;

.arrow-down {
  width: $icon-arrow-down-width;
  height: $icon-arrow-down-height;
}

.checked {
  width: $icon-checked-width;
  height: $icon-checked-height;
}

.checkhover {
  width: $icon-checkhover-width;
  height: $icon-checkhover-height;
}

.close {
  width: $icon-close-width;
  height: $icon-close-height;
}

.ellipse-1 {
  width: $icon-ellipse-1-width;
  height: $icon-ellipse-1-height;
}

.ellipse-2 {
  width: $icon-ellipse-2-width;
  height: $icon-ellipse-2-height;
}

.search {
  width: $icon-search-width;
  height: $icon-search-height;
}

