<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__column">
				<div class="footer__column-title" onclick="o2.dropdown(this)">
					НАШИ МАШИНЫ
					<svg role="img" class="arrow-down">
						<use xlink:href="#arrow-down"></use>
					</svg>
				</div>
				<ul class="footer__list _dropdown-content">
					<li>
						<a href="#">Mercedes S-Class</a>
					</li>
					<li>
						<a href="#">Mercedes V-Class</a>
					</li>
					<li>
						<a href="#">Mercedes E-Class</a>
					</li>
					<li>
						<a href="#">Rolls-Royce Ghost</a>
					</li>
					<li>
						<a href="#">Rolls-Royce Phantom</a>
					</li>
					<li>
						<a href="#">Bentley Mulsanne</a>
					</li>
				</ul>
			</div>
			<div class="footer-devider"></div>
			<div class="footer__column footer__column--service">
				<div class="footer__column-title" onclick="o2.dropdown(this)">
					<span>
						НАШ СЕРВИС
						<svg role="img" class="arrow-down">
							<use xlink:href="#arrow-down"></use>
						</svg>
					</span>
					
				</div>
				<ul class="footer__list _dropdown-content">
					<li>
						<a href="#">Корпоративное такси</a>
					</li>
					<li>
						<a href="#">Личный водитель</a>
					</li>
					<li>
						<a href="#">Бизнес встречи</a>
					</li>
					<li>
						<a href="#">Аэропорты</a>
					</li>
					<li>
						<a href="#">События</a>
					</li>
					<li>
						<a href="#">Экскурсии</a>
					</li>
				</ul>
			</div>
			<div class="footer-devider"></div>
			<div class="footer__column">
				<div class="footer__column-title" onclick="o2.dropdown(this)">
					О НАС
					<svg role="img" class="arrow-down">
						<use xlink:href="#arrow-down"></use>
					</svg>
				</div>
				<ul class="footer__list _dropdown-content">
					<li>
						<a href="#">Правила и условия</a>
					</li>
					<li>
						<a href="#">О нас</a>
					</li>
					<li>
						<a href="#">Аэропорты</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
					<li>
						<a href="#">Блог</a>
					</li>
					<li>
						<a href="#">Автопарк</a>
					</li>
				</ul>
			</div>
			<div class="footer-devider footer-devider--last"></div>
			<div class="footer__info">
				<a href="" class="footer__info-link">сделать заказ</a>
				<a href="" class="footer__info-link">узнать тариф</a>
				<div class="footer__info-contacts">
					<a href="" class="footer__info-phone">+44 020 7719 8816</a>
					<a href="" class="footer__info-phone">+44 777 100 7676</a>
					<ul class="footer__info-socias">
						<li>
							<a href=""><i class="fi flaticon-instagram"></i></a>
						</li>
						<li>
							<a href=""><i class="fi flaticon-facebook"></i></a>
						</li>
						<li>
							<a href=""><i class="fi flaticon-google-plus"></i></a>
						</li>
						<li>
							<a href=""><i class="fi flaticon-linkedin-logo"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__licence">2010-2018 ©Pegasus Luxury Services Ltd. Company Number: 08104782. PCO-Operator Licence: 0086810101. All rights reserved.</div>
	</div>
</footer>