<header class="header">
	<div class="container">	
		<div class="header__top">
			<div class="header__left">
				<div class="header__phone">
					<a href="tel:+44 2077198816">+44 20 7719 8816</a>
					<div class="header__phone-text">круглосуточно</div>
				</div>
				<div class="header__phone">
					<a href="+447771007676">+44 777 100 7676</a>
					<div class="header__phone-text">Viber & WhatsUp</div>
				</div>
			</div>
			<a class="header__logo" href="/pages/index.html">
				<img src="img/logo.png" alt="">
			</a>
			<div class="header__right">
				<a href="">узнать тариф</a>
				<a href="">сделать заказ</a>
			</div>
		</div>
		<div class="header__burger" onclick="o2.header.burgerClickHandler(this)">
			<span></span>
		</div>
	</div>	
	<nav class="header__nav">
		<div class="header__menu-wr">
			<div class="container">
				<ul class="header__menu">
					<li>
						<a href="/pages/index.html">Главная</a>
					</li>
					<li class="header__devider"></li>
					<li>
						<a href="#">услуги</a>
					</li>
					<li class="header__devider"></li>
					<li>
						<a href="#">Автопарк</a>
					</li>
					<li class="header__devider"></li>
					<li>
						<a href="#">События</a>
					</li>
					<li class="header__devider"></li>
					<li>
						<a href="#">О нас</a>
					</li>
					<li class="header__devider"></li>
					<li>
						<a href="#">Контакты</a>
					</li>
					<li class="header__mobile-link">
						<a href="#">узнать тариф</a>
					</li>
					<li class="header__mobile-link">
						<a href="#">сделать заказ</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<ul class="header__submenu">
				<li>
					<a href="">главная</a>
				</li>
				<li class="header__submenu-devider"></li>
				<li>
					<a href="">события</a>
				</li>
				<li class="header__submenu-devider active"></li>
				<li>
					<a href="" class="active">экскурсии</a>
				</li>
				
			</ul>
		</div>
	</nav>
</header>
